/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 12, 2016, 3:41:19 PM
    Author     : yiwenren
*/
body{
    width: 960px;
    max-height: 1300px;
    min-height: 900px;
    position: relative;
    margin: auto;
    background: #f5f5f5;
}

#container{
    background: #f5f5f5;
    width: 960px;
    max-height: 1300px;
    min-height: 900px;
    position: relative;
    margin: auto;
    
}

#header {
    background-color:#696969;
    color: #FFFFFF;
    width: 960px;
    height:100px;
    line-height: 100px;
    text-indent: 3%;
    font-size: larger;
}
#menu-left ul{
    position:absolute;
    top:147px;
    left:90px;
    background-color: #bebebe;
    height:195px;
    width:200px;
    float:left;
    text-align: left; 
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
    border: 2px;
    
}
#menu-right {
    background-color:#f5f5f5;
    height:110px;
    width:450px;
    inline-box-align: 110px;
    text-align: center;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
    display:relative;
    float: left;
    position: absolute;
    left:420px;
 
}



#menu-right li {
        float: left;
        margin-right: 80px;
    }
   /* #menu-right li a{
        background-color:#696969;
    } */   
   #menu-left li{
       background-color:#bebebe;
   }
#menu-left a:link,a:visited
{

display:block;
font-family: Arial Black;
font-weight:bold; 
font-size: large;
color:#FFFFFF;
background-color:#bebebe;
width:200px;
height: 30px;
inline-box-align: 30px;
text-align:center;
padding-top: 6px;
padding-bottom: 6px;
text-decoration:none;
text-transform:uppercase;
}

#menu-left a:hover,a:active
{
background-color:#696969;
width:200px;
}

#menu-special1{
    background-color: #bebebe;
    font-size: 17px; 
    color:#FFFFFF;
    width:200px;
    height: 45px;
    line-height:45px;
    padding-left: 0;
    padding-top: 0px;
    margin-top: 0; 
    float: left;
    text-align: center;
    position:relative;
    left: 90px;

}
#menu-special1 a{
    text-decoration:none;
    font-family: monospace;
    color:#FFFFFF;
    font-weight:bold; 
}
#menu-special1 a:hover,a:active
{
background-color:#696969;
width:200px;
display: block;
}

#menu-special2{
   
    background-color: #bebebe;
    font-size: 20px; 
    color:#FFFFFF;
    width:200px;
    height: 45px;
    line-height:45px;
    padding-left: 0;
    padding-top: 0px;
    margin-top: 0; 
    float: left;
    text-align: center;
    position:absolute;
    top:344px;
    left:90px;

}
#menu-special2 a:link,a:visited{
    text-decoration:none;
    font-family: monospace;
    color:#FFFFFF;
    font-weight:bold; 
}
#menu-special2 a:hover,a:active
{
background-color:#696969;
width:200px;
display: block;
}

/*#menu-header{
    position: absolute;
    right: 0;
    top:50px;
    background-color: #FFFFFF;
    float:right;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
    border: 2px;
    width: 50px;

}
#menu-header li{
    display: inline;
}

#menu-header a:link,a:visited
{

    display:block;
    font-family: Arial Black;
    font-weight:bold; 
    font-size: 10px;
    color:#FFFFFF;
    background-color:#bebebe;
    width:50px;
    height: 30px;
    inline-box-align: 10px;
    text-align:center;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration:none;
    text-transform:uppercase;
}

#menu-header a:hover,a:active
{
    background-color:#696969;
    width:50px;
}*/

#headMenu{
    
}
#headMenu ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    position: absolute;
    top:72px;
    left: 410px;
    margin:auto;
    
}

#headMenu li{
      float:left;
    
}

#headMenu a{
    
    display:block;
    width:100px;
    height: 20px;
    font-weight:bold;
    color:#ffffff;
    background-color:#696969;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
}

#headMenu a:hover,a:active{
    background-color:#DCDCDC;
}





p.solid {
    border-style: solid;
    border-color: #DCDCDC;
    border-width: 2px;

}

.post {
    width: 500px;
    height: 260px;
    padding: 10px;
    border:2px solid #DCDCDC;
    text-align: left;
    position: relative;
    top:120px;
    margin-left: 360px;
    margin-bottom: 50px;
    box-shadow:0 0 5px;
    overflow:hidden;
    text-overflow:ellipsis;/*hidde flow-out*/

}
.post img{
    width:400px;
    height:260px;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    
}



.post p2{
    font-family: initial;
    font-size: 4;
}

.registerMain{
    width:800px;
    min-height: 300px;
    margin:auto;
    
    border:solid 1px;
    -moz-box-shadow:    inset 0 0 5px #000000;
   -webkit-box-shadow: inset 0 0 5px #000000;
   box-shadow:         3px 3px 5px 6px #ccc;
   margin-bottom: 50px;
   background-image: url(image/Register-bg.jpg);
}
.registerMain h1,p{
    margin-left:30px;
    padding-top:-30px;
}
/*.registerMain img{
    position: relative;
    width:100px;
    text-align: center;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
}*/
#registerMode{
    margin:auto;
    width:700px;
    border-width: -20px;
    border-bottom: dotted 1px;
   
}
#registerMode h1{
    margin-left:0px;
    margin-top:20px;
    margin-bottom: 5px;
}

.postHeader{
    width:500px;
    min-height: 30px;
    line-height: 30px;
    padding:5px;
    margin:auto;
    margin-top: 20px; 
    box-shadow: 2px 2px 2px 2px #bebebe;
    font-family: Sans-serif;
    align-content: center;
    color:#696969;
    
}


.postContent{
    width:500px;
    min-height: 240px;
    margin:auto;
    margin-top: 20px; 
    padding: 5px; 
    box-shadow: 2px 2px 2px 2px #bebebe;
    font-family: Sans-serif;
    align-content: center;
    color:#696969;
    line-height: 240px;
    
}
::-moz-placeholder{
    font-family: Sans-serif;
    align-content: center;
    background-color: #f5f5f5;
    opacity:1;
    border: none;
    
    margin: none;
    
}

.postButton{
    background-color: #f5f5f5;
    color:#696969;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-right:60px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px 2px #bebebe;
    font-size: 12px;   
}

#searchForm{
    position:absolute;
    top:180px;
    left:760px;
    height:40px;
    width:300px;
    border: none;
    float:right;
}

#search{
    background-color: #CCC;
    color: #696969;
    border: none;
}


#searchButton{
    background-color: #CCC;
    color:#696969;
    border: 1px;
    text-align: center;
   
    cursor: pointer;
    font-size: 12px;   
}

#deleteForm{
    position:absolute;
    top:200px;
    left:760px;
    height:40px;
    width:300px;
    border: none;
    float:right;
}

#delete{
    background-color: #CCC;
    color: #696969;
    border: none;
}


#deleteButton{
    background-color: #CCC;
    color:#696969;
    border: 1px;
    text-align: center;
   
    cursor: pointer;
    font-size: 12px;   
}



#likeMain{
    /*-webkit-column-width: auto;
    -moz-column-width: 202px;
    -o-column-width:202px;
    -ms-column-width:202px;*/
    -webkit-column-count:3;
    -moz-column-count: 3;
    -o-column--count: 3;
    -ms-column--count:3;
    /*-webkit-column-rule: 2px solid #000000;
    -moz-column-rule: 2px solid #000000;
    -o-column-rule: 2px solid #000000;
    -ms-column-rule: 2px solid #000000;*/
}
.box{
    padding:10px 0 0 15px;
    text-overflow:ellipsis;/*hidde flow-out*/
    
    
}

.box_p2{
    display:block;
    padding:10px;
    border:1px solid #CCC;
    box-shadow:0 0 5px #CCC;
    width:240px;
    font-family: initial;
    font-size: 4;
}

.pic{
    padding:10px;
    border:1px solid #CCC;
    border-radius:5px;
    box-shadow:0 0 5px #CCC;
    width:240px;
}

.pic img{
    display:block;
    width:240px;
    height: auto;
}
 
#follow{
    font-family: "Trebuchet MS",Arial, Helvetica, sans-serif;
    border-collapse:collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#follow td{
    font-size: lem;
    border:1px solid #f5f5f5;
    padding:3px 7px 2px 7px;
    background-color: #D8D8D8;
}
#td-l{
    height: 60px;
    width:60px;
} 
#td-r{
    height:60px;
    width:250px;
}

#follow .alt td{
    color:#000000;
    background-color:#bebebe;
}
#follow img{
    width:60px;
    height:60px;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    
}

#setting{
    font-family: "Trebuchet MS",Arial, Helvetica, sans-serif;
   
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 2px;
    color:#696969;
}

#setting p{
    
}



#footer {
    text-align: center;
    color: #000000; 
    clear:both;
    text-align:center;
    position: absolute;
    font-size: 18px;
    bottom: 8px;
   
} 



/*ul2{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a:link,a:visited{
    display:block;
    width: 120px;
    background-color: #bebebe;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover,a:active{
    background-color: #696969;
}*/